<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<main>
        
        <section id="other">

        </section>
        <section id="feed-posts">

                <div id="post-form">
                        <h4>Posts</h4>
                        <% if(locals.user) {%>
        <!--if use only user throws an error because locals ia an object so it search for user key in this-->
                      <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="45" rows="4" placeholder="type here" required></textarea>
                <input id="button" type="submit" value="post">
                 </form>

                <%}%>
                </div>

          <div id="posts-list-container">
                
                
                     <% for(post of posts){%>

                <div class="posts-list-containers" id="post-<%=post._id%>">
                <%= post.content %>
                <small>
                        <%= post.user.name %>
                </small>
                <% if(locals.user && locals.user.id == post.user.id){%>

                <small>
                        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
                </small>
                <% }%>
                <div id="comment-container">

                        <% if(locals.user) {%>
                        <!--if use only user throws an error because locals ia an object so it search for user key in this-->
                        <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
                                <input type="text" name="content" placeholder="type here the coment" required>
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add comment">
                        </form>

                        <%}%>
                        <div id="post-comments-<%= post._id %>">

                        <% for(comment of post.comments){ %>

                        <div class="comments-list-container" id="comment-<%= comment._id %>">
                                <%= comment.content %>

                                <small>
                                        <%= comment.user.name %>
                                </small>
                                <% if(locals.user && (locals.user.id == post.user.id || locals.user.id==comment.user.id )){%>

                                <small>
                                        <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
                                </small>
                                <% }%>

                        </div>
                        <%}%>
                      </div>                   
                 </div>
                           
                        
                        </div>


                <%}%>


                        </section>

                        <section id="user">
                                <% for(u of users){%>
                                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                                <br>
                                <% }%>
                        </section>
</main>

<script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
<script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>')
</script>
<%}%>