<link rel="stylesheet" href="/css/profile.css">

        <h1> user profile</h1>
      <br>
      <br>
     <img src="<%= user.avatar%>" alt="<%=user.name%>" width="100"> 
     
<% if(user.id==users.id){ %>
        <br>
        <br>
<form action="/users/update/<%=users.id%>" enctype="multipart/form-data"  method="POST"><br>
<input type="text" name="name" placeholder="your name" value="<%=users.name%>" required><br>
<input type="email" name="email" placeholder="your email" value="<%=users.email%>" required><br>
<input type="file" name="avatar" placeholder="profile picture"><br>
<input type="submit" value="update">
</form>
<%}else{%>
        <p><%=users.name%></p>
        <p><%=users.email%></p>
       <%}%> 